<div class="center jumbotron" background-color:"#6699ff">
  <h1 style="color:#6699ff">TEAM INTELLIGENCE</h1>
  <div id="center"><%= link_to "Sign up now!", nodes_path, class: "btn btn-primary btn-xlarge", id:"center" %></div>
</div>